/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
tests/_coverage
storage/*
!storage/app
public/storage
laravel-echo-server.json
laravel-echo-server.lock
bootstrap/cache/
storage/app/public/dependencies/*
