/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.env.testing
node_modules/
tests/_coverage
storage/*
!storage/app
public/storage
bootstrap/cache/
.phpunit.result.cache
/public/js
/public/css
/public/build
/public/vendor
/public/mix-manifest.json
yarn-error.log
.phpunit.cache
DEVSENSE/
package-lock.json
