name: Release

on:
  repository_dispatch:
    types: [release-trigger]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    concurrency:
      group: ukcp-api-release
      cancel-in-progress: true
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      #
      # ENVIRONMENT DEPENDENCIES SETUP
      #
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          tools: composer:v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      # Generate Release
      # This will trigger the deployment workflow
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          GH_TOKEN: ${{ secrets.PAT }}
        run: |
          npx -p @semantic-release/changelog -p @semantic-release/git -p semantic-release@17 semantic-release

  trigger-deployment:
    name: Trigger Deployment
    needs: release
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Deploy workflow
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          event-type: deploy-trigger
