name: Tests

on:
  push:
    branches:
      - "*"
      - "**"
    tags-ignore:
      - v*
  pull_request:

jobs:
  test:
    name: PHP ${{ matrix.php }} / Composer ${{ matrix.composer }}
    runs-on: ubuntu-latest
    concurrency:
      group: ukcp-api-test-${{ github.ref }}-php-${{ matrix.php }}
      cancel-in-progress: true
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        php: ["8.4"]
        composer: ["v2"]
        experimental: [false]
    services:
      mysql:
        image: mysql:8.0
        env:
          DEFAULT_AUTHENTICATION_PLUGIN: mysql_native_password
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 32574:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=10s --health-retries=10
      redis:
        image: redis:alpine
        ports:
          - "32575:6379"
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      #
      # ENVIRONMENT DEPENDENCIES SETUP
      #

      - name: Configure MySQL
        run: |
          mysql -e "CREATE DATABASE IF NOT EXISTS ukcp;" -h127.0.0.1 -P32574 -uroot -proot
          mysql -e "SET GLOBAL sql_require_primary_key = ON;" -h127.0.0.1 -P32574 -uroot -proot

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov
          tools: composer:${{ matrix.composer }}

      - name: Setup Yarn
        uses: actions/setup-node@v6
        with:
          node-version: "24"
      #
      # COMPOSER DEPENDENICES
      #

      # Add GitHub Auth to Composer
      - name: Add Composer GitHub Token
        run: composer config -g github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      # Restore Caches
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Restore Composer Cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Restore Vendor From Cache
        uses: actions/cache@v5
        with:
          path: vendor
          key: ${{ runner.OS }}-build-${{ hashFiles('**/composer.lock') }}

      # Install
      - name: Install Composer Dependencies
        run: composer install --prefer-dist --no-interaction --optimize-autoloader --no-suggest
      #
      # YARN DEPENDENCIES
      #

      # Restore Caches
      - name: Get Yarn Cache Directory
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Load Yarn Cache
        uses: actions/cache@v5
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Load Cached Node Modules
        uses: actions/cache@v5
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}

      # Install
      - name: Install Assets
        run: yarn

      - name: Compile Assets
        run: yarn run prod

      #
      # APPLICATION SETUP
      #

      # Environment Configuration
      - name: Create Environment File
        run: cp .env.ci .env

      - name: Generate App Key
        run: php artisan key:generate

      - name: Generate Passport Keys
        run: php artisan passport:keys --force

      # Run Database Migration & Seed
      - name: Migrate Database
        run: php artisan migrate

      - name: Seed Database
        run: php artisan db:seed

      # Publish/Install Packages
      #- name: Install Passport
      #  run: php artisan passport:install

      #- name: Publish Horizon
      #  run: php artisan horizon:publish

      # Start Application
      #- name: Serve Application
      #  run: php artisan serve -q &

      #
      # RUN TESTING SUITE
      #

      # Run Tests with Coverage
      - name: Run Tests (Parallel) With No Coverage
        run: php artisan test --parallel --processes=4 --recreate-databases --coverage-clover=coverage.xml

      #- name: Run Tests (Coverage)
      #  run: php artisan test --coverage-clover=coverage.xml

      # Run Coverage Suite
      - name: Upload Code Coverage Report
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false

  trigger-release:
    name: Trigger Release
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      #
      # RELEASE (main only)
      #
      - name: Trigger release workflow
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.PAT }}
          event-type: release-trigger

  pr-number:
    name: Pull Request Number
    needs: test
    if: ${{ github.event_name == 'pull_request'}}
    runs-on: ubuntu-latest
    steps:
      - name: Save pull request number
        run: echo ${{ github.event.number }} > ./pr_number.txt

      - name: Upload pull request number artifact
        uses: actions/upload-artifact@v4
        with:
          name: pr-number
          path: ./pr_number.txt
